  <h2><%= post.title%> </h2>
    <% if post.text.length > 110 %>
      <%= truncate(post.text, length: 110) ... %>
    <% else %>
      <%= post.text %>.
    <% end %>
  </p>
  <p>Comments: <span><%= post.comments.count %></span>, Likes: <span><%= post.likes.count %></span></p>
</div>