<div class="row  px-5 border">
  <div class="col-12 align-self-start"><h5>Title : <%= post.title%> </h5></div>
  <div class="col-12">
    <% if post.text.length > 110 %>
      <%= truncate(post.text, length: 110) ... %>
    <% else %>
      <%= post.text %>.
    <% end %>
  </div>
  <div class="col-12 align-self-end">
    <p>Comments: <span><%= post.comments.count %></span>, Likes: <span><%= post.likes.count %></span></p>
  </div>

  
</div> 