<p><%= @post.title %> by <%= @post.user.name%></p>
<p>Comments: <span><%= @post.comments.count %></span>, Likes: <span><%= @post.likes.count %></span></p>

<%= @post.text %>
    <%= form_with model: Like, url: post_likes_path(@post.user, @post), method: :post do |form| %>
    <% form.submit "Like" %>
<% end %>

<% if @post.comments.length > 0 %>
    <% @post.comments.each do |comment| %>
    <p><%= comment.user.name %> : <%= comment.text %></p>
<% end %>
    <% else %>
    <p>There are no comments !!</p>
<% end %>
<div>
    <h3>Add a comment</h3>
    <%= render partial: 'partials/_new' %>
</div>
